# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.dist/
build/
dist/
.venv/
.env
.env.*
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Alembic
alembic.ini.bak

# Docker
*.log
*.pid

# OS
.DS_Store
Thumbs.db

# others
/.history/
/.benchmarks/
CLAUDE.md
